* {
    margin: 0;
}
body {
    background-color: black;
}
.top {
    text-transform: uppercase;
    color: white;
    background-color: steelblue;
    text-align: center;
    height: 140px;
    font-size: 25px;
    font-weight: 40;
}
h1 {
    font-size: 30px;
    font-weight: 70;
    height: 140px;
}
.mid {
    background-color: white;
    height: 24px;
    color: steelblue;
}
.words {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}
#bottom {
    margin: 0 auto;
    max-width: 600px;
}
.square {
    background-color: purple;
    width: 30%;
    margin: 1.66%;
    float: left;
    padding-bottom: 30%;
    border-radius: 15px;
}
span {
    color: white;
}