<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="./Colours-Rgb.ico">
    <title> RGB Game</title>
    <link rel="stylesheet" href="colorGame.css">
</head>
<body>
    <div class="top">
        <h1>the great <br> <span id="colorDisplay"> RGB </span> <br> guessing game</h1>
    </div>

    <div class="mid">
       <button class="selected" id="reset">New Color</button>
       <span id="message"></span>
       <button id="easy-btn" class="selected">EASY</button>
       <button id="hard-btn" class="selected">HARD</button>
        
    </div>

    <div id="container">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
    </div>
    
    <script type="text/javascript" src="colorGame.js"></script>
</body>
</html>